@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ultra&display=swap');
*{
  font-family: "Poppins";
}
.cabecalho{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
}
.titulo_header{
  color: rgb(104, 102, 102);
font-size: 1.2rem;
}
.logo_desk{
  width: 20vh;
  height: 20vh;
}
.img_home img{
width: 60vh;
}
.todos{
  display: flex;
  justify-content: center;
  gap: 10rem;
}
.interacao{
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
    .titulo_texto {
      font-family: "poppins";
      font-weight: 400;
      align-items: center;
      text-align: center;
      font-size: 1.7rem;
    }
    .botoes_home{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
 .botao_cima {
   margin-bottom: 2rem;
   display: flex;
   justify-content: center;

 }

 a {
   text-decoration: none;
 }

 .botao_1 {
   background-color: #0CA6E9;
   border-radius: 15px;
   border: none;
   padding: 1rem 5rem;
   font-size: 1.8rem;
   color: white;
 }

 .botao_baixo {
   display: flex;
   justify-content: center;
 }

 .botao_2 {
   background-color: white;
   border-radius: 15px;
   border: gray 3px solid;
   padding: 1rem 5rem;
   font-size: 1.8rem;
   color: black;
 }
 .titulo_header{
  text-align: center;
 }

@media (max-width: 844px) {
  body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
  }
  .todos{
    display: flex;
    flex-direction: column;
    gap: 0;
  }
.cabecalho{
  display: none;
}
  .img_home img {
    margin-top: 1rem;
    width: 47vh;
    display: flex;
    justify-content: center;
  }
  .titulo_texto {
    font-family: "poppins";
    font-weight: 400;
    align-items: center;
    text-align: center;
    font-size: 1.7rem;
  }

  .botoes_home {
    margin-top: 2rem;

  }

  .botao_cima{
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
  
  }
a{
  text-decoration: none;
}
  .botao_1 {
    background-color: #0CA6E9;
    border-radius: 15px;
    border: none;
    padding: 1rem 5rem;
    font-size: 1.5rem;
    color: white;
  }

  .botao_baixo {
    display: flex;
    justify-content: center;
  }

  .botao_2 {
    background-color: white;
    border-radius: 15px;
    border: gray 3px solid;
    padding: 1rem 5rem;
    font-size: 1.5rem;
    color: black;
  }
}