@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ultra&display=swap');
*{
    font-family:"Poppins";
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
}
.img_logo img{
    width: 40vh;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
.img_logo{
    display: flex;
        justify-content: center;
}
.login-title{
    display: flex;
    justify-content: center;
    font-size: 3rem;
}
.login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
input{
height: 5rem;
border: none;
box-shadow: 2px 1px 20px 6px rgba(128, 128, 128, 0.377);
padding-left: 30px;
font-size: 0.9rem;
}
.senha input {
    width: 45vh;
    border-top-left-radius: 15px; 
    border-bottom-left-radius:20px ;
}
.email input{
    border-radius: 15px;
width: 50vh;
}
.btn_msenha{
width: 3.4rem;
height: 5rem;
border-bottom-right-radius: 10px;
border: none;
box-shadow: 2px 1px 20px 6px rgba(128, 128, 128, 0.377);
border-top-right-radius:15px ;
border-bottom-right-radius:15px ;
}
.entrar{
    background-color: #0CA6E9;
        border-radius: 15px;
        border: none;
        padding: 1rem 5rem;
        font-size: 1.8rem;
        color: white;
        width: 40vh;
}
.login-link{
    font-size: 1.1rem;
}
.botoes_login{
    gap: 1rem;
    display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
}
.footer{
    font-size: 1.1rem;
}
.erro{
    color: red;
    padding-left: 10px;
}

@media (max-width: 844px) {
* {
        font-family: "Poppins";
        padding: 0;
        box-sizing: border-box;
        margin: 0;
    }
        body {
            display: flex;
            justify-content: center;
        }
.img_logo img {
        width: 30vh;
        margin-top: 2rem;
        display: flex;
        justify-content: center;
    }
.login-title {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}
.login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
input {
    height: 4rem;
    border: none;
    box-shadow: 2px 1px 20px 6px rgba(128, 128, 128, 0.377);
    padding-left: 30px;
    font-size: 0.9rem;
}
.senha input {
    width: 36vh;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.email input {
    border-radius: 15px;
    width: 41vh;
}
.btn_msenha {
    width: 2.6rem;
    height: 4rem;
    border-bottom-right-radius: 10px;
    border: none;
    box-shadow: 2px 1px 20px 6px rgba(128, 128, 128, 0.377);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.entrar {
    background-color: #0CA6E9;
    border-radius: 15px;
    border: none;
    padding: 0.7rem ;
    font-size: 1.8rem;
    color: white;
    width: 35vh;
}
.login-link {
    font-size: 1rem;
}
.footer {
    font-size: 1rem;
}
.erro {
    color: red;
    padding-left: 10px;
}
}

