.perfil-container {
  padding: 2rem;
  max-width: 900px;
  margin: auto;
}

.perfil-header {
  text-align: center;
  margin-bottom: 2rem;
}
.topo-card{
  display: flex;
justify-content: center;
align-items: center;
  gap: 1rem;
}
.perfil-header h1 {
  font-size: 2rem;
  margin-bottom: 0.3rem;
}

.btn-voltar-perfil {

}

.perfil-lista {
    display: grid;
    justify-content: center;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 3rem;
      padding: 0 1rem;
}

.perfil-card {
  background: rgba(255, 255, 255, 0.4);
    border: 2px solid #6283A9;
    border-radius: 20px;
    padding: 2rem 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.15s;
}

.perfil-topo {
  margin-bottom: 1rem;
}

.perfil-card h2 {
  margin-bottom: 0.2rem;
}

.perfil-progresso {
  color: #555;
  font-size: 0.9rem;
}

.perfil-status p {
  margin: 0.2rem 0;
}

.perfil-mascote {
  margin-top: 1rem;
  text-align: center;
}

.perfil-mascote img {
  width: 100px;
  height: auto;
}
.btn-voltar{
      background-color: #0CA6E9;
        border-radius: 15px;
        border: none;
        padding: 0.3rem 3rem;
        font-size: 1.8rem;
        color: white;
        width: 40vh;
}
@media (max-width: 844px) {
  .perfil-lista {
      display: flex;
      flex-direction: column;
      justify-content: center;  
      gap: 0.6rem;
    
    }
        .perfil-card {
          background: rgba(255, 255, 255, 0.4);
          border: 2px solid #6283A9;
          border-radius: 20px;
          padding: 0.2rem 1rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: 0.15s;
        }
                .btn-voltar {
                  background-color: #0CA6E9;
                  border-radius: 15px;
                  border: none;
                  padding: 0.2rem 1rem;
                  font-size: 1.5rem;
                  color: white;
                  /* width: 30vh; */
                  /* margin-bottom: 2rem; */
                }
}